body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
}

#center {
    font-family: "Times New Roman";
    font-size: 20px;
	margin-left: auto;
    margin-right: auto;
    width: 6em
}
footer {
    border-style: ;
    border-bottom: thin line-through #ff0000;
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;			/* Height of the footer */
	background:#6cf;
	
}
p footer {

font-size: small-caption;

}
